h1{
	color:rgb(176,176,176);
}
body{
	background-color:black;
}
.main{
	width:50%;
	height:50%;
	margin-left:300px;
	background-color:white;
	border-radius:20px;
}
#simple{
	margin-left:170px;
	width:50%;
	height:50%;
}
